@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body,html{
    background: white;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}
.row,.col,.a{
    padding: 0;
    margin: 0;
    height: 100%;
}
.btn-a,.btn-b{
    font-style: normal;
    font-weight: normal;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 9pt;
    line-height: 36pt;
    margin-top: 20pt;
    height: 36pt;
    width: 180pt;
}
.btn-a{
    background-color: #29A58C;
}
.btn-b{
    background-color: #006C56;
}
.img1{
    height: 128pt;
    width: 128pt;
}
.logo{
    width: 100%;
}
.titulo1{
    font-size: 28.5pt;
}
h1{
    color:#29A58C;
    margin:0;
}
.center-align{
    width: 100%;
}
.titulo2{
    margin-bottom: 69pt;
    height: 32pt;
    line-height: 32pt;
    color: #FDFBF9;
    width: 100%;
    background-color: #29A58C;
}
.bt-entrar.btn-a{
    margin-top: 69pt;
}
.img2{
    max-height: 28pt;
    max-width: 28pt;
    float: left;
}
.miniatura1.titulo1{
    font-size: 9pt;
}
.miniatura2{
    font-size: 13pt;
}
.quadro1.col{
    padding: 24pt;
}
.miniatura3{
    color: #000000;
    font-size: 13pt;
}
.link1{
    color: #3EB099;
    font-size: 13pt;
}
.fundo1{
    padding: 24pt;
    background-color: rgba(31, 37, 36, 0.9);;
}
.alterado-p.titulo2{
    margin-bottom: 16pt;
}
.alterado-bt.bt-entrar.btn-a{
    margin-top: 16pt;
}
.input2{
    color: white;
}
.cadastro{
    position: absolute;
    top: 19%;
    width: 93%;
    height: 75%;
    background: #E5E5E5;
}
.quadro2{
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.header{
    background: #29A58C;
    color: white;
    width: 100%;
    padding: 4pt;
}
.quadro3{
    width: 70%;
    height: 80%;
    padding-top: 5%;
    padding-left: 3%;
}
.span-cadastro{
    position: fixed;
    font-size: 10pt;
    color: #29A58C;
}
#input-a{
    margin-right: 3%;
    width: 30%;
}
#input-b{
    width: 66.5%;
}
#input-c{
    margin-right: 3%;
    width: 30%;
}
#input-d{
    margin-right: 3%;
    width: 20%;
}
#input-e{
    width: 43%;
}
#input-f{
    margin-right: 3%;
    width: 67%;
}
#input-g{
    margin-right: 3%;
    width: 10%;
}
#input-h{
    width: 16%;
}
#input-i{
    margin-right: 3%;
    width: 22%;
}
#input-j{
    margin-right: 3%;
    width: 22%;
}
#input-k{
    margin-right: 3%;
    width: 22%;
}
#input-l{
    width: 23.55%;
}